.caja {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
}

.imagen {
    width: 10rem;
    height: 10rem;
    background-color: white;
}
.producto {
    font-weight:bold ;
}
.nombre {
    color: green;
    font-weight: bold;
}
body {
    overflow-x: hidden;
}
h1 {
    margin-left: 1rem;
    margin-top: 1rem;
}
h3 {
    margin-left: 1rem;
}
hr {
    border: 0.2rem solid brown;
}

.dark {
    background-color: rgb(54, 53, 53);
    color: white;
}
.fondo {
    margin-left: 1rem;
}